In [11]:
# use numpy & pandas to store data
import numpy as np
import pandas as pd
# usesmatplot & seaborn to visualise data
import matplotlib.pyplot as plt
import seaborn as sb

# allow rendered directly inside the notebook
%matplotlib inline

In [12]:
# load the data
pokemon=pd.read_csv('Data/pokemon.csv')
print(pokemon.shape)
pokemon.head()

(807, 14)

,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45,65,65
1,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60,80,80
2,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80,100,100
3,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65,60,50
4,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80,80,65

In [13]:
# both first & second type in a single column
pkmn_types=pokemon.melt(id_vars=['id','identifier'],
                      value_vars=['type 1','type 2'],
                      var_name='type level',value_name='type').dropna()
pkmn_types[790:800]

KeyError: "The following 'id_vars' are not present in the DataFrame: ['identifier']"

In [ ]:
# type of order frequency
type_count=pkmn_types['type'].value_counts()
type_order=type_count.index

In [ ]:
base_color=sb.color_palette()[2]
sb.countplot(data=pkmn_types,y='type',color=base_color,order=type_order)

#modify the matplot
plt.xticks(tick_props * n_pokemon,tick_names)
plt.xlabel('Proportion')

#we use loop to pace text elements one by one
for i in range(type_count.shape[0]):
    count=type_count[i]
    pct_string='{:0.1f}%'.format(100*count/n_pokemon)
    plt.text(count+1,i,pct_string, va='center')

In [ ]:
# tick a mark absolute count to relative count
n_pokemon=pokemon.shape[0]
max_type_count=type_count[0]
max_prop=max_type_count/n_pokemon
print(max_prop)

In [ ]:
#produce praponational value
tick_props=np.arange(0,max_prop,0.02)

#list comprehension
tick_names=['{:0.2f}'.format(v) for v in tick_props]