In [5]:
#Condition Statement

#in this example if phone balance less than 5 add phone balance from bank balance
#If Statement
phone_balance = 3
bank_balance = 100
print(phone_balance,bank_balance)
if phone_balance < 5:
    phone_balance +=10
    bank_balance -=10
    
print(phone_balance,bank_balance)

3 100
13 90

In [12]:
#perform odd and even
#If,Else
n=int(input("enter a value "))
if n%2==0:
    print("enter value is even")
else:
    print("enter value odd")

enter a value 3
enter value odd

In [16]:
#perform seasons in spring plant the garden,summer water the garden,fall harvest the garden,winter stay indoor,else unrecognized season
#If,Else,Elif
season=input("enter a season:\t")
if season =='spring':
    print("plant the garden!")
elif season =='summer':
    print("water the garden!")
elif season =='fall':
    print("harvest the garden!")
elif season =='winter':
    print("stay indoor!")
else:
    print("unrecognized season")

enter a season:	summer
water the garden!

In [17]:
#for Loop

cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)

#range is 3 from for loop
for i in range(3):
    print(i)

new york city
mountain view
chicago
los angeles
0
1
2

In [19]:
#Multiple of 5

# Write a for loop using range() to print out multiples of 5 up to 30 inclusive
for i in range(5, 35, 5):
    print(i)

5
10
15
20
25
30

In [36]:
#Iterating
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }
for key in cast:
    print(key)
#Iterate through both keys and values use the built-in method items
for key, value in cast.items():
    print("actor: {}   \trole: {}".format(key,value))

Jerry Seinfeld
Julia Louis-Dreyfus
Jason Alexander
Michael Richards
actor: Jerry Seinfeld   	role: Jerry Seinfeld
actor: Julia Louis-Dreyfus   	role: Elaine Benes
actor: Jason Alexander   	role: George Costanza
actor: Michael Richards   	role: Cosmo Kramer

In [42]:
#zip

letters = ['a', 'b', 'c']
nums = [1, 2, 3]
for letters,nums in zip(letters,nums):
    print("{} : {}".format(letters,nums))

#Unzip

cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))
names,height=zip(*cast)
print(cast)

a : 1
b : 2
c : 3
(('Barney', 72), ('Robin', 68), ('Ted', 72), ('Lily', 66), ('Marshall', 76))