In [132]:
import pandas as pd
import numpy as np

In [133]:
# pass two argument data & index i.e n no. argument add
groceries = pd.Series(data = [30,6,'yes','no'], index= ['eggs','apples','milk','bread'])
print(groceries)

eggs       30
apples      6
milk      yes
bread      no
dtype: object

In [134]:
# shape of groceries

groceries.shape

(4,)

In [135]:
# no. of dimension of data
groceries.ndim

1

In [136]:
# show all index element

groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [137]:
# total no. of values in array

groceries.size

4

In [138]:
# show  all data element
groceries.values

array([30, 6, 'yes', 'no'], dtype=object)

In [139]:
# check the item in a series

'banana' in groceries

False

In [140]:
'milk' in groceries

True

In [141]:
# access element in index label

groceries['eggs']

30

In [142]:
# access multiple element in index label
groceries[['milk','bread']]

milk     yes
bread     no
dtype: object

In [143]:
# access element in numeric indices for a first element

groceries[0]

30

In [144]:
# access element in mumeric indices for a last element
groceries[-1]

'no'

In [145]:
# access multiple element in numeric indices

groceries[[0,1]]

eggs      30
apples     6
dtype: object

In [146]:
# loc use for location using labelled indexing

groceries.loc[['eggs','milk']]

eggs     30
milk    yes
dtype: object

In [147]:
#iloc use for integer location using numerical indexing
groceries.iloc[[2,1]]

milk      yes
apples      6
dtype: object

In [148]:
# change the value of eggs

groceries['eggs']=2
groceries

eggs        2
apples      6
milk      yes
bread      no
dtype: object

In [149]:
# remove the element temporary

groceries.drop('milk')

eggs       2
apples     6
bread     no
dtype: object

In [150]:
groceries

eggs        2
apples      6
milk      yes
bread      no
dtype: object

In [151]:
# remove the element permanently

groceries.drop('milk',inplace=True)

In [152]:
fruits = pd.Series([10,6,3],['apples','orange','banana'])
fruits

apples    10
orange     6
banana     3
dtype: int64

In [153]:
# perform arithmetic operation
fruits + 2

apples    12
orange     8
banana     5
dtype: int64

In [154]:
fruits * 2

apples    20
orange    12
banana     6
dtype: int64

In [155]:
fruits / 2

apples    5.0
orange    3.0
banana    1.5
dtype: float64

In [156]:
fruits - 2

apples    8
orange    4
banana    1
dtype: int64

In [157]:
# square root using numpy
np.sqrt(fruits)

apples    3.162278
orange    2.449490
banana    1.732051
dtype: float64

In [159]:
# exponent using numpy
np.exp(fruits)

apples    100
orange     36
banana      9
dtype: int64

In [160]:
# power using numpy
np.power(fruits,2)

apples    100
orange     36
banana      9
dtype: int64

In [162]:
# add value
fruits['banana']+2

5

In [163]:
# substract numeric value with position
fruits.iloc[0]-2

8

In [164]:
# perform multiply operation
fruits[['apples','orange']] * 2

apples    20
orange    12
dtype: int64

In [165]:
# multiply with number & string 
#note error in division 
groceries * 2

eggs         4
apples      12
bread     nono
dtype: object